extends layout

block content
	div.container.profile-top(style="background-image: url(" + user.backgroundPic + ")")
		div.img-name.row
			div.name-loc.col-xs-6.col-sm-6.c0l-md-7.col-xl-5
				h2.name(title="name")= user.name
				div.location(title="location")= user.location
			div.profile-pic.img-circle.col-xs-4(style="background-image: url(" + user.profilePic + ")")
	button.edit-profile.btn.btn-default.btn-xs.btn-simple.pull-left Edit Profile
	.container-fluid.main-container
		.container
			.info-block(title="about")
				.row
					.heading-container.col-sm-4.col-md-2
						h2.heading-about CoCreation Songs:
					.content-container.col-sm-8.col-md-10
						p.about Here are the collaborative pieces that have been shared with the world.
		.row
			div.col-sm-5.col-md-4#sidebar
				//- .profile-sidebar
					.sidebar-list
						button.btn.btn-default.btn-sm.btn-songs Create New Song
				.profile-sidebar
					h2 CoCreations with Others:
					for song in user.cocreationCollaborations
						.sidebar-list
							a(href="../song/?id=" + song._id)
								p.sidebar-list-text.instruments= song.name

			.col-sm-7.col-md-8
				.info-block.remove-margin
							h1 Create New Song
							form#create-new-song(method="post" action="/api/createNewSong" name="createNewSong")
								input.form-control.input-new(type="text" name="name" placeholder="Name of Song…")
								input.btn.btn-default.btn-simple2(type="submit" value="Create New Song")
				.info-block.remove-margin
					h1.heading-about CoCreations
					.sidebar-list.pull-right
						.inline-block Sort:
						select.inline-block
							option(value="likes") Likes
							option(value="upload-date") Upload Date
							option(value="style") Style
					.post-divider
					#cocreation-container

	
	//- script(id="cocreation-template" type="text/x-handlebars-template").
	//- 	<div class="list-group results">
	//- 		<div class="post-container">
	//- 			<div class="post-pic-holder">
	//- 				<a href="../song/?id={{_id}}"><img class="post-profile-pic img-circle" src={{backgroundImage}}></a>
	//- 			</div>
	//- 				<a href="../song/?id={{_id}}"><h2 class="post-heading"> {{name}} </h4></a>
	//- 			<p id="post-text" class="list-group-item-text post-text"> {{description}} </p>
					
							
	//- 		</div>
	//- 	</div>
	script.
		var user = !{JSON.stringify(user)};
		var songs = !{JSON.stringify(songs)};
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/cocreation-user.js")