extends layout

block content
	div.container.profile-top(style="background-image: url(" + user.backgroundPic + ")")
		button(data-toggle="modal" data-target="#uploadModalBackgroundPic").glyphicon.glyphicon-picture.make-it-white.edit-icon-background Change-Background
		div.img-name.row
			div.name-loc.col-xs-6.col-sm-6.c0l-md-7.col-xl-5
				h2.name(title="name")= user.name
				div.location(title="location")= user.location
			div.profile-pic.img-circle.col-xs-4(style="background-image: url(" + user.profilePic + ")")
				button#uploadProfilePic(data-toggle="modal" data-target="#uploadModalProfilePic").glyphicon.glyphicon-picture.make-it-white.edit-icon-profile Change-Photo
	button.edit-profile.btn.btn-default.btn-xs.btn-simple.pull-left Edit Profile
	.container
		.info-block(title="about")
			.row
				.heading-container.col-sm-4.col-md-2
					h2.heading-about About:
				.content-container.col-sm-8.col-md-10
					p.about= user.about
	.container
		.row
			div.col-sm-5.col-md-4#sidebar
				.profile-sidebar
					.sidebar-list(title="bands")
						h4.sidebar-list-heading Bands:
						p.sidebar-list-text.bands= user.bands
				.profile-sidebar
					.sidebar-list
						a(href="./cocreation-user")
							button.btn.btn-default.btn-sm.btn-songs Cocreation Songs
					.sidebar-list
						button.btn.btn-default.btn-sm.btn-tribe View Tribe Members
				.profile-sidebar
					.sidebar-list(title="instruments")
						h4.sidebar-list-heading Instruments:
						p.sidebar-list-text.instruments= user.instruments
					.sidebar-list(title="styles")
						h4.sidebar-list-heading Styles:
						p.sidebar-list-text.styles= user.styles
					.sidebar-list(title="skills")
						h4.sidebar-list-heading Skills:
						p.sidebar-list-text.skills= user.skills
					.sidebar-list(title="inspirations")
						h4.sidebar-list-heading Inspired By:
						p.sidebar-list-text.inspirations= user.inspirations
					.sidebar-list(title="improvComp")
						h4.sidebar-list-heading Improvisational/Compositional Orientation:
						dl.ratio-graph
							dd
								div#ratio-bar.bar(style="width: " + user.improvComp + "%")
						.improv Improv . . . . . . . . . . . . Composition
					.sidebar-list(title="age")
						h4.sidebar-list-heading Age:
						p.sidebar-list-text.astro-sign= user.age
					.sidebar-list
						h4.sidebar-list-heading Astrological Sign:
						p.sidebar-list-text.astro-sign= user.astro

			.col-sm-7.col-md-8
				.info-block.remove-margin(title="philosophy")
					.row
						.heading-container.col-sm-5.col-md-4
							h3.heading-about Philosophy:
						.content-container.col-sm-7.col-md-8
							p.about-content= user.philosophy
				.info-block.gallery-block
					.photo-gallery
						.photo-container
							.row
								.col-xs-3.gallery-pic.pic-1
								.col-xs-3.gallery-pic.pic-2
								.col-xs-3.gallery-pic.pic-3
								button.col-xs-3.btn.btn-default.btn-xs.btn-simple 
									strong Photos 
									div View Gallery
				.media
				.info-block.remove-margin
					button#dropNote.drop-note.btn-simple-sm.pull-left Drop a Note
					h1.heading-about Posts
					form#addPost(role="form")
						.form-group
							textarea.form-control.form-font(type="text" id="post" placeholder="Post…")
						.form-group
							input.btn.btn-simple-sm.btn-post(type="submit" value="Post")
					#post-container
	.modal.fade#uploadModalProfilePic
				.modal-dialog
					form#upload(method="post" action="/uploadProfilePic" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.upload-button.btn.btn-default.btn-sm(type="file" name="image")
									input#userId(type="hidden" value=user._id name="id")
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								input.btn.btn-success(type="submit" value="Upload")
	.modal.fade#uploadModalBackgroundPic
				.modal-dialog
					form#upload(method="post" action="/uploadBackgroundPic" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.upload-button.btn.btn-default.btn-sm(type="file" name="image")
									input#userId(type="hidden" value=user._id name="id")
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								input.btn.btn-success(type="submit" value="Upload")
	
	script.
		var user = !{JSON.stringify(user)};
	script(id="post-template" type="text/x-handlebars-template").
		<div class="list-group results">
			<div class="post-container">
				<div class="post-pic-holder">
					<a href="../profile/?id={{userId}}"><img class="post-profile-pic img-circle" src={{userProfilePic}}></a>
				</div>
					<a href="../profile/?id={{userId}}"><h2 class="post-heading"> {{userName}} </h4></a>
					<p class="post-secondary"> {{date}} </p>
				<p id="post-text" class="list-group-item-text post-text"> {{text}} </p>
					<button class="btn btn-xs btn-default">
						<i class="fa fa-thumbs-o-up"></i>
						<div id="postInfo" value="{{songId}}"></div>
					</button>
					<div class="post-secondary inline"> {{likes}} Likes </div>
							
			</div>
		</div>
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="../scripts/lib/profile.js")

						