extends layout

block content
	.heading-signup-form
		h1 Welcome to ToneTribe!
		p Please fill in some info about yourself and we'll get you started.
			.row
				form#upload-profilePic(method="post" action="/uploadProfilePic" enctype="multipart/form-data")
					.form-group
						label.col-sm-4.control-label(for="image") Profile Pic:
						.col-sm-8
							input(type="hidden" value=id name="_id")
							input#profileUrl(type="hidden" value=profileUrl name="profileUrl")
							input#backgroundUrl(type="hidden" value=backgroundUrl name="backgroundUrl")
							input.form-control.edit-input(type="file" name="image")
							input(type="submit" value="Upload")
							#profile-image-holder
				form#upload-backgroundPic(method="post" action="/uploadBackgroundPic" enctype="multipart/form-data")
					.form-group
						label.col-sm-4.control-label(for="image") background Pic:
						.col-sm-8
							input(type="hidden" value=id name="_id")
							input#profileUrl(type="hidden" value=profileUrl name="profileUrl")
							input#backgroundUrl(type="hidden" value=backgroundUrl name="backgroundUrl")
							input.form-control.edit-input(type="file" name="image")
							input(type="submit" value="Upload")
							#background-image-holder
			form.form-horizontal(method="post" action="/updateUser3" role="form")
				input(type="hidden" value=id name="_id")
				a(href="/signup"): button.btn.btn-success Previous
				input.btn.btn-success.pull-right(type="submit" value="Join the Tribe!")

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(script src="../scripts/lib/signup.js")