extends layout

block content
	.main-song
		#song-id(value=id)
		.container
			h1#song-name= song.name
				button#share-song.tb.btn.btn-default.btn-sm.pull-right(data-toggle="modal" data-target="#shareModal")
					.fa.fa-share-square  Share
				button#like-song.tb.btn.btn-default.btn-sm.pull-right
					.fa.fa-thumbs-o-up  Like
					#song-likes.likes #{song.likes} Likes
				//- button#download.tb.btn.btn-default.btn-sm.pull-right
					i.fa.fa-caret-square-o-down  Download
			#inner-container(style="background-image: url(" + song.backgroundImage + ")")
				.track-container.tc0
					.canvas-container
						canvas#canvas0.visuals
					.upload-switch-track
						select#select0.select-track.btn.btn-default
							if track0
								for track in track0.userTracks
									option(value=track.trackTitle data=track._id) #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button0.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download0.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal0") Upload
							if track0
								a(href=track0.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track0
							.likes #{track0.userTracks[0].likes} Likes
						button.play0.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute0.btn.btn-xs.btn-danger M
					if track0
						.song-user-image
						.song-user-info-box
							.song-user-name= track0.userTracks[0].userName
							.song-track-name= track0.userTracks[0].trackTitle
				.track-container
					.canvas-container
						canvas#canvas1.visuals
					.upload-switch-track
						select#select1.select-track.btn.btn-default
							if track1
								for track in track1.userTracks
									option(value=track.trackTitle name="userName" data="userPic") #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button1.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download1.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal1") Upload
							if track1
								a(href=track1.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track1
							.likes #{track1.userTracks[0].likes} Likes
						button.play1.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute1.btn.btn-xs.btn-danger M
					if track1
						.song-user-image
						.song-user-info-box
							.song-user-name= track1.userTracks[0].userName
							.song-track-name= track1.userTracks[0].trackTitle
				.track-container
					.canvas-container
						canvas#canvas2.visuals
					.upload-switch-track
						select#select2.select-track.btn.btn-default
							if track2
								for track in track2.userTracks
									option(value=track.trackTitle name="userName" data="userPic") #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button2.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download2.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal2") Upload
							if track2
								a(href=track2.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track2
							.likes #{track2.userTracks[0].likes} Likes
						button.play2.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute2.btn.btn-xs.btn-danger M
					if track2
						.song-user-image
						.song-user-info-box
							.song-user-name= track2.userTracks[0].userName
							.song-track-name= track2.userTracks[0].trackTitle
				.track-container
					.canvas-container
						canvas#canvas3.visuals
					.upload-switch-track
						select#select3.select-track.btn.btn-default
							if track3
								for track in track3.userTracks
									option(value=track.trackTitle name="userName" data="userPic") #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button3.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download3.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal3") Upload
							if track3
								a(href=track3.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track3
							.likes #{track3.userTracks[0].likes} Likes
						button.play3.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute3.btn.btn-xs.btn-danger M
					if track3
						.song-user-image
						.song-user-info-box
							.song-user-name= track3.userTracks[0].userName
							.song-track-name= track3.userTracks[0].trackTitle
				.track-container
					.canvas-container
						canvas#canvas4.visuals
					.upload-switch-track
						select#select4.select-track.btn.btn-default
							if track4
								for track in track4.userTracks
									option(value=track.trackTitle name="userName" data="userPic") #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button4.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download4.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal4") Upload
							if track4
								a(href=track4.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track4
							.likes #{track4.userTracks[0].likes} Likes
						button.play4.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute4.btn.btn-xs.btn-danger M
					if track4
						.song-user-image
						.song-user-info-box
							.song-user-name= track4.userTracks[0].userName
							.song-track-name= track4.userTracks[0].trackTitle
				.track-container
					.canvas-container
						canvas#canvas5.visuals
					.upload-switch-track
						select#select5.select-track.btn.btn-default
							if track5
								for track in track5.userTracks
									option(value=track.trackTitle name="userName" data="userPic") #{track.trackTitle}, By userName, #{track.likes} Likes
						button#upload-button5.upload-button.btn.btn-default
							i.fa.fa-caret-square-o-up
						#upload-download5.upload-download.shadow
							button.btn.btn-default.btn-updown(data-toggle="modal" data-target="#uploadModal5") Upload
							if track5
								a(href=track5.userTracks[0].url)
									button.btn.btn-default.btn-updown Download
						button.like.btn.btn-xs.btn-primary
							i.fa.fa-thumbs-o-up
						if track5
							.likes #{track5.userTracks[0].likes} Likes
						button.play5.play-track.btn.btn-lg.btn-success
							i.fa.fa-play-circle
						button.mute.mute5.btn.btn-xs.btn-danger M
					if track5
						.song-user-image
						.song-user-info-box
							.song-user-name= track5.userTracks[0].userName
							.song-track-name= track5.userTracks[0].trackTitle
				.song-controls
					button#play.btn.btn-success.tb
						i.fa.fa-play-circle
					button#stop.btn.btn-danger.tb
						i.fa.fa-stop
					
					button#uploadBackgroundPic.btn.btn-default.btn-sm.tb2.pull-right
						i.fa.fa-picture-o  Background
					#upload-container.pull-right
						form.song-pic-upload(method="post" action="/uploadSongBackgroundPic" role="form" enctype="multipart/form-data")
							input.btn.btn-primary.btn-sm(type="file" onchange="previewSongBackground()" name="songBackgroundImage" id="upload-song-background")
							input(type="hidden" value=song._id name="songId")
							input.pull-right.btn.btn-default(type="submit" value="upload")
		.container
			.info-block#song-description
				
				h1.heading-about Song Description
				if song.description
					p.about= song.description
					button#edit-description.btn.btn-default.btn-simple-sm.btn-post Edit
					form#add-description.hide
						.form-group
							textarea.form-control.form-font(name="songDescription" placeholder="Song Description…")
						.form-group
							input.btn.btn-default.btn-simple-sm.btn-post(type="submit" value="Save")
				else
					form#add-description
						.form-group
							textarea.form-control.form-font(name="songDescription" placeholder="Song Description…")
						.form-group
							input.btn.btn-default.btn-simple-sm.btn-post(type="submit" value="Save")


				
				
		.container.margin-top
			.info-block.remove-margin
					button#dropNote.btn.btn-default.drop-note.btn-simple-sm.pull-left Drop a Note
					h1.heading-about Comments
					form#addComment(role="form")
						.form-group
							textarea.form-control.form-font(type="text" id="post" placeholder="Comment…")
						.form-group
							input.btn.btn-simple-sm.btn-post(type="submit" value="Post")
					.post-divider
					#comments-container


			//- #comments-container
			//- 	h1 Comments
			//- 	form#addComment(role="form")
			//- 		.form-group
			//- 			label(for="comment") Add Comment
			//- 			textarea.form-control(type="text" id="comment" placeholder="Comment…")
			//- 		.form-group
			//- 			input.btn.btn-primary.btn-comment(type="submit" value="Post")
			.modal.fade#shareModal
				.modal-dialog
					form#share-form(role="form")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Share #{song.name}
							.modal-body
								.form-group
									textarea.form-control.form-font(type="text" name="share-message" placeholder="Comment…")
							.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") Close
								input.btn.btn-default.btn-simple-sm.btn-post(type="submit" value="Share" data-toggle="modal" data-target="#shareModal")
			.modal.fade#uploadModal0
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="0" name="trackNum")
							.modal-footer
								button#close0.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton0.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack0.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			.modal.fade#uploadModal1
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="1" name="trackNum")
							.modal-footer
								button#close1.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton1.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack1.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			.modal.fade#uploadModal2
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="2" name="trackNum")
							.modal-footer
								button#close2.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton2.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack2.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			.modal.fade#uploadModal3
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="3" name="trackNum")
							.modal-footer
								button#close3.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton3.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack3.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			.modal.fade#uploadModal4
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="4" name="trackNum")
							.modal-footer
								button#close4.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton4.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack4.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
			.modal.fade#uploadModal5
				.modal-dialog
					form#upload(method="post" action="/submitTrack" enctype="multipart/form-data")
						.modal-content
							.modal-header
								button.close(data-dismiss="modal")
									span(aria-hidden="true") &times;
									span.sr-only Close
								h4.modal-title Upload Track
							.modal-body
								.upload-view-tracks
									input.btn.btn-sm.btn-simple-sm.upload-input(type="file" name="audio")
									input.form-control(type="text" name="trackTitle" placeholder="Name Your Track!")
									input#songId(type="hidden" value=song._id name="id")
									input#trackNum(type="hidden" value="5" name="trackNum")
							.modal-footer
								button#close5.btn.btn-default.btn-simple-sm(type="button" data-dismiss="modal") Close
								button#uploadTrackButton5.btn.btn-simple-sm(type="submit" value="Upload") Upload
								span#uploadingTrack5.hide.btn.btn-default.btn-simple-sm
									.glyphicon.glyphicon-refresh.glyphicon-refresh-animate

	input.btn.btn-success.btn-sm(type="submit" value="Upload")
	script.
		var user = !{JSON.stringify(user)};
		var song = !{JSON.stringify(song)};
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	//- script(src="../scripts/main.js")
	script(script src="../scripts/lib/cocreationSong.js")
	script(src="../scripts/lib/moment.js")